.about-us-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_1280.jpg');
    background-size: cover;
    background-position: center;
    filter: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color: white;
}

h2 {
    font-size: 3em;
    /* Adjust the font size as needed */
}