<!-- about-us.component.html -->

<div class="about-us-container">
    <div class="background-image"></div>
    <div class="content">

        <h1>About FamDECOR</h1>
        <p>Our Decor Market team is a group of diverse and innovative individuals inspired by a love and passion for design. We bring together our individual and unique styles to create a lifestyle brand that will inspire beautiful decorating in any space.
            Our collaboration is fundamentally rooted in a love for aesthetics, beauty in simplicity, and the importance of balance in order to share with you the feeling of being at home.</p>

        <p>Founded in late 2015, Decor Market is an online retail shop based in New York designed to provide all things essential for your home at incredible rates. We are based in the United States and only ship within the continental United Sates. We believe
            in keeping the home shopping experience as simple and hassle-free as possible, which is why we are an online company. We carry the latest trends, top styles, and unbeatable prices. In just a few clicks you can be on your way to filling your
            home with beautifully curated pieces.</p>

        <p>We are committed to offering our customers a destination for finding everything they need to express their personal style in decorating, entertaining and gifting. With our large line of signature products, top vendors, and unmatched customer service,
            Decor Market aims to create the best online shopping experience. </p>



    </div>
</div>